$gradient-background-blue: #87ceeb;
$gradient-background-white: #fff;
$gradient-background-gray: #f3f4f6;
$bg-green: #dcfce7;

$text-links: #0000ee;
$text-gray: #666666;
$text-error: #ff4c4c;
$text-black: #000;
$text-white: #fff;

$background-black: #000;

$border-input: #cccccc;
