$gradient-background-blue: #87CEEB;
$gradient-background-white: #fff;

$text-links: #0000EE;
$text-gray: #666666;
$text-error: #FF4C4C;
$text-black: #000;
$text-white: #fff;

$background-black: #000;

$border-input:  #CCCCCC